@inherits System.Web.Mvc.WebViewPage<System.DateTime?>

@{

    var css = string.Empty;

    if (ViewData.ContainsKey("class"))
    {
        css = ViewData["class"].ToString();
    }
    else
    {
        css = "col-md-12";
    }
}
<div class="@css">
    ESSE EH O DATE
    <div>
        @Html.TextBoxFor(model => model, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model, "", new { @class = "text-danger" })
    </div>
</div>